HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.mp3
**/.DS_Store
database/data
backend/.env
flyway.env
files-test
*.tmpl
monitoring/prometheus/*
monitoring/grafana/grafana.db
index.html
create.sql
logs/
out/
frontend/node_modules
frontend/.env
admin/node_modules

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/frontend/dist/**
