HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.mp3
**/.DS_Store
database/data
backend/.env
flyway.env
files-test
*.tmpl
monitoring/prometheus/*
monitoring/grafana/grafana.db
index.html
create.sql
logs/
out/
node_modules
frontend/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/frontend/dist/assets/avatar-CYQRBOUn.jpeg
/frontend/dist/assets/favourites-BN598mkr.jpg
/frontend/dist/assets/home-BQbTEIzJ.png
/frontend/dist/assets/index-CxdIJC51.js
/frontend/dist/assets/index-uzofl3Pd.css
/frontend/dist/vite.svg
/frontend/.env
