.soundtrack__list__wrapper {
    margin-top: 10px;
    width: 97%;
    margin-inline: auto;
    background-color: transparent;
    position: relative;
}
.header__soundtrack__list{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #808080;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.header__soundtrack__list span{
    color:#808080;
    font-size: 14px;
}
.header__soundtrack__list span:first-child{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anime__title__header{
    margin-left: 50px;
    width: 20vw;
}
.original__title__header{
    margin-left: 7vw;
    width: 27vw;
}
.playlist__anime__title__header{
    margin-left: 50px;
    width: 15vw;
}
.playlist__original__title__header{
    position: absolute;
    left: 21vw;
    margin-left: 5vw;
    width: 23vw;
}
.added__at{
    width: 10vw;
    position: absolute;
    left: 50vw;
    text-align: center;
    margin-left: 0;
}
.clock__icon{
    width: 28px;
    display: flex;
    height: 20px;
    position: absolute;
    right: 7vw;
    justify-content: center;
}
.playlist__clock__icon{
    width: 28px;
    display: flex;
    height: 20px;
    position: absolute;
    right: 5vw;
    justify-content: center;
}
.clock__icon,.playlist__clock__icon img{
    width: 20px;
    height: 20px;
}

@media (max-width: 480px) {
    .soundtrack__list__wrapper{
        padding-bottom: 14vh;
    }
    .added__at{
        display: none;
    }
    .anime__title__header{
        display: none;
    }
    .original__title__header{
        margin-left: 10vw;
    }
    .playlist__original__title__header{
        left: 14vw;
    }
    .playlist__anime__title__header{
        display: none;
    }
    .playlist__clock__icon{
        right: 7vw;
    }
}