.page__wrapper {
    position: relative;
    margin-inline:auto;
    width: calc(100% + 7px);
    height: 100%;
    overflow: auto;
    border-radius: 7px;
    scrollbar-gutter: stable;
}

.page__wrapper:hover::-webkit-scrollbar-thumb {
    background: #48494a;
}
.auth__actions{
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    right: 30px;
    top: 10px;
}
.sign__in{
    background: #09942e;
    color: #ffffff;
}
.sign__up{
    border: 1px solid #686968 !important;
    background: transparent;
    color: #686968;
}
.logout{
    position: absolute;
    z-index: 1000;
    right: 30px;
    top: 10px;
    border: 1px solid #686968 !important;
    background: transparent;
    color: #686968;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

@media (max-width: 480px) {
    .sign__in,.sign__up{
        padding:10px 13px !important;
        font-size: 12px !important;
    }
    .auth__actions{
        width: 150px;
        right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1280px) {

}
@media (min-width: 1280px) {

}