.playlist__page__wrapper {
    width: 100%;
    position: relative;
    min-height: 87vh;
}

.playlist__page__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background: linear-gradient(to bottom, #5e128a, #32094a);
}

.playlist__page__bottom_rgb{
    width: 100%;
    height: 35vh;
    position: absolute;
    background: linear-gradient(to bottom, #32094a, #121212)
}
.playlist__page__header__content{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 230px;
}
.playlist__main__info{
    height: 20vh;
    width: 500px;
    margin-left: 20px;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: space-between;
}
.type__content{
    font-size: 14px;
}
.playlist__name{
    height: 12vh;
    display: flex;
    align-items: center;
    font-size: 10vh;
}
.playlist__image img{
    width: 230px;
    border-radius: 7px;
    height: 230px;
}
@media (max-width: 480px){
    .playlist__image img{
        width: 200px;
        height: 200px;
    }
    .type__content{
        font-size: 12px;
    }
    .playlist__main__info{
        width: 30vw;
        height: 10vh;
    }
    .playlist__name{
        font-size: 4vh;
    }
    .playlist__page__header__content{
        height: 200px;
    }
    .playlist__page__header{
        height: 35vh;
    }
}
